/* SpoqaHanSansNeo SemiBold */
@font-face {
  font-family: "Spoqa Han Sans Neo", "sans-serif";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(../public/fonts/SpoqaHanSansNeo-Bold.otf) format("opentype"), url(../public/fonts/SpoqaHanSansNeo-Bold.ttf) format("truetype"),
    url(../public/fonts/SpoqaHanSansNeo-Bold.woff) format("woff"), url(../public/fonts/SpoqaHanSansNeo-Bold.woff2) format("woff2");
}

/* SpoqaHanSansNeo Medium */
@font-face {
  font-family: "Spoqa Han Sans Neo", "sans-serif";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(../public/fonts/SpoqaHanSansNeo-Medium.otf) format("opentype"), url(../public/fonts/SpoqaHanSansNeo-Medium.ttf) format("truetype"),
    url(../public/fonts/SpoqaHanSansNeo-Medium.woff) format("woff"), url(../public/fonts/SpoqaHanSansNeo-Medium.woff2) format("woff2");
}

/* SpoqaHanSansNeo Regular */
@font-face {
  font-family: "Spoqa Han Sans Neo", "sans-serif";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../public/fonts/SpoqaHanSansNeo-Regular.otf) format("opentype"), url(../public/fonts/SpoqaHanSansNeo-Regular.ttf) format("truetype"),
    url(../public/fonts/SpoqaHanSansNeo-Regular.woff) format("woff"), url(../public/fonts/SpoqaHanSansNeo-Regular.woff2) format("woff2");
}
